{% load static %}
<html>
<body>
    <h2>Listings of Accommodations</h2>
    <img src="{% static 'app/images/nus.jpg' %}" width="10%"   alt="NUS logo"/><br/>
    <a href="add">New listing</a>   
    <br/><br/>
    <table border=1>
        <thead>
            <th>Owner</th>
            <th>Room Name</th>
            <th>ID</th>
            <th>Neighborhood</th>
            <th>Room Type</th>
            <th>Price</th>
        </thead>
        {% for cust in records %}
        <tr>
            <td> {{ cust.0 }} </td>
            <td> {{ cust.1 }} </td>
            <td> {{ cust.2 }} </td>
            <td> {{ cust.3 }} </td>
            <td> {{ cust.4 }} </td>
            <td> {{ cust.5 }} </td>
            <td>
                <a href="view/{{cust.2}}"><button>View</button></a> | 
                <a href="edit/{{cust.2}}"><button>Edit</button></a>
                | 
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{cust.2}}"/>
                <button onclick="return confirm('Are you sure you want to delete {{cust.2}}?');" type="submit" name="action" value="delete">Delete</button> 
              </form></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
